html, body {
  height: 100%;
  margin: 0;
}

#img {
	border-radius: 100%;
	animation: pulse 5s infinite;
}

@keyframes pulse {
	0% { background-color: lightgoldenrodyellow; }
	25% { background-color: lightsalmon; }
	50% { background-color: cadetblue; }
	75% { background-color: lightblue; }
	100% { background-color: lightgoldenrodyellow; }
}
